html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.test1 {
    width: 100px;
    background: skyblue;
}

.test2 {
    width: 200px;
    background: skyblue;
}

.nomin {
    background: gray;
    width: 80%;
}

.min {
    background: orange;
    width: 80%;
    max-width: 100px;
}