html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.parent {
    background-color: silver;
    width: 250px;
}

.parent p {
    width: 50px;
    margin: 0 auto;
    background-color: orange;
}