html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.middle {
    background-color: orange;
    padding: 10px;
    margin: 10px;
}

.above {
    background: skyblue;
  }
.under {
    background: silver;
}